{% extends 'base.html' %}

{% block body %}
<body>
<div class="container">
<h1>Books</h1>
<a class="btn btn-primary" href="{{ url_for('books_create') }}">Create a book</a>
<a class="btn btn-secondary" href="{{ url_for('home') }}">Home</a>
<table class="table">
    <thead>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Authors</th>
        <th>Average Rating</th>
        <th>ISBN</th>
        <th>Stock</th>
        <th>Delete</th>
        <th>Issue</th>
        <th>Update</th>
    </tr>
    </thead>
    <tbody>
    {% for book in books %}
    <tr>
        <td>{{ book.id }}</td>
        <td>{{ book.title }}</td>
        <td>{{ book.authors }}</td>
        <td>{{ book.average_rating }}</td>
        <td>{{ book.isbn }}</td>
        <td>{{ book.stock }}</td>
        <td>
            <button class="btn btn-danger" onclick="delete_book(event, '{{book.id}}')">Delete book</button>
        </td>
        <td>
            <a class="btn btn-primary" href="{{ url_for('books_issue', book_id=book.id) }}">Issue book</a>
        </td>
        <td>
            <a class="btn btn-secondary" href="{{ url_for('books_update', book_id=book.id) }}">Update book</a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<script>
    async function delete_book(event, book_id) {
        event.preventDefault();
        let response = await fetch(`/api/v1/books/${book_id}`, {
            method: "DELETE",
        });
        let response_body = await response.json();
        if (response.status === 200) {
            window.location.href = "{{ url_for('books_root') }}"
        } else if (response.status === 400) {
            alert("This book doesn't exist");
        } else {
            console.log(`Error: ${JSON.stringify(response_body)}`)
        }
    }
</script>
</div>
</body>
{% endblock %}
