{% extends 'base.html' %}

{% block body %}
<body>
<div class="container">
    <h1>Import books</h1>
    <a class="btn btn-secondary" href="{{ url_for('home') }}">Home</a>
    <form id="form">
        <div class="mb-3">
            <label class="form-label" for="title">Title</label>
            <input class="form-control" id="title" name="title" type="text">
        </div>
        <div class="mb-3">
            <label class="form-label" for="authors">Authors</label>
            <input class="form-control" id="authors" name="authors" type="text">
        </div>
        <div class="mb-3">
            <label class="form-label" for="isbn">ISBN</label>
            <input class="form-control" id="isbn" name="isbn" type="text">
        </div>
        <div class="mb-3">
            <label class="form-label" for="publisher">Publisher</label>
            <input class="form-control" id="publisher" name="publisher" type="text">
        </div>
        <br/>
        <button class="btn btn-secondary" onclick="submit_data(event, true)">Search</button>
        <button class="btn btn-primary" onclick="submit_data(event, false)">Import</button>
    </form>
</div>
<div class="container" id="results" style="display: none">
    <table class="table">
        <thead>
        <tr>
            <th>Title</th>
            <th>Authors</th>
            <th>ISBN</th>
            <th>Publisher</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
<script>
    async function submit_data(event, only_search) {
        event.preventDefault();
        let object = {};
        let elements = document.getElementsByClassName("form-control");
        Array.from(elements).forEach(function (element) {
            object[element.id] = element.value;
        });
        let json = JSON.stringify(object);
        let response = await fetch(`{{ url_for('import_books') }}?only_search=${only_search}`, {
            method: "POST",
            headers: {"Content-Type": "application/json"},
            body: json
        });
        let response_body = await response.json();
        if (response.status === 200) {
            if (response_body.length === 0) {
                alert("No books found");
                return;
            }
            if (only_search) {
                let results = document.getElementById("results");
                results.style.display = "block";
                let tbody = results.getElementsByTagName("tbody")[0];
                tbody.innerHTML = "";
                response_body.forEach(function (book) {
                    let row = tbody.insertRow();
                    row.insertCell().innerHTML = book.title;
                    row.insertCell().innerHTML = book.authors;
                    row.insertCell().innerHTML = book.isbn;
                    row.insertCell().innerHTML = book.publisher;
                });
            } else {
                window.location.href = "{{ url_for('books_root') }}";
            }
        } else if (response.status === 409) {
            alert("This book already exists");
        } else if (response.status === 422) {
            alert(`Server error: ${JSON.stringify(response_body.detail)}`);
        } else {
            alert(`Server error: ${JSON.stringify(response_body.detail)}`);
            console.log(`Error: ${JSON.stringify(response_body)}`)
        }
    }
</script>
</body>
{% endblock %}
